<% var category_total = 0; %>
<% site.posts.each(function(post){ %>
    <% if(post.categories === page.category){ %>
        <% category_total = category_total + 1; %>
    <% } %>
<% }) %>
<div class="container container-body">
    <div class="archive">
        <% page.posts.each(function(post){ %>
            <div class="archive_item">
                <a class="title" href="<%- url_for(post.path) %>"><%= post.title %></a>
                <div class="date"><%= post.date.format('YYYY年MM月DD日') %></div>
                <div class="description"><%= post.description %></div>
                <div class="classify">
                    <a class="color-0" href=""><%= post.classify %></a>
                </div>
                <div class="tags">
                    <% if(post.tag1 !== "none"){ %>
                        <a class="color-1" href=""><%= post.tag1 %></a>
                    <% } %>
                    <% if(post.tag2 !== "none"){ %>
                        <a class="color-2" href=""><%= post.tag2 %></a>
                    <% } %>
                    <% if(post.tag3 !== "none"){ %>
                        <a class="color-3" href=""><%= post.tag3 %></a>
                    <% } %>
                </div>
                <div class="readmore">
                    <a class="more" href="<%- url_for(post.path) %>">阅读全文</a>
                </div>
            </div>
        <% }) %>
        <div class="pagination">
            <% if (category_total > config.per_page) { %>
                <%- paginator({ total: Math.ceil(category_total / config.per_page)}) %>
            <% } %>
        </div>
    </div>
    <div class="sidebar">
        <div class="search">
            <input id="search-enable" type="text" name="search-enable" value="Search">
        </div>
        <div class="widget">
            <div class="widget-title">
                <label class="category">分类</label>
            </div>
            <div class="category-content">
                <%- list_categories() %>
            </div>
        </div>

        <div class="widget">
            <div class="widget-title">
                <label class="tags">标签</label>
            </div>
            <div class="tags-content">
                <%- list_tags() %>
            </div>
        </div>
        <div class="widget">
            <div class="widget-title">
                <label class="articles">最近文章</label>
            </div>
            <div class="articles-content">
                <ul>
                    <% var articles = 0; %>
                    <% site.posts.each(function(post){ %>
                        <% if(articles < 10){ %>
                            <% articles = articles + 1; %>
                            <li>
                                <a href="<%- url_for(post.path) %>"><%= post.title %></a>
                            </li>
                        <% } %>
                    <% }) %>
                </ul>
            </div>
        </div>
        <div class="widget">
            <div class="widget-title">
                <label class="links">友情链接</label>
            </div>
            <div class="links-content">
                <ul>
                    <li>
                        <a href="https://www.haomwei.com/">屠城</a>
                    </li>
                    <li>
                        <a href="https://www.haomwei.com/">屠城</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>